{% extends 'base.html' %}
{% load static %}
{% block title %} Mes Companies {% endblock %}

{% block content %}
    <div class="col-12 justify-content-center " >
        <div style="border:none;color:white" class="mt-5">
            <div class="row mt-5 justify-content-center">
                <h3>
                    Mes Companies
                </h3>
            </div>
            <!-- Main content -->
            <div class=" p-3 mb-3">
                  <!-- Table row -->
                  <div class="row">
                    <div class="col-12 table-responsive">
                          <table class="table table-striped">
                                <thead>
                                    <tr>
                                      <th>Id</th>
                                      <th>Nom</th>
                                      <th>Secteur</th>
                                      <th>Création</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for company in companies %}

                                            <tr class="company-list">

                                                <td>
                                                    <a style="color: white;text-decoration: none;" href="http://localhost:8000/check/?company={{ company.id }}">
                                                        {{ company.id }}
                                                    </a>
                                                </td>
                                                <td>
                                                    <a style="color: white;text-decoration: none;" href="http://localhost:8000/check/?company={{ company.id }}">
                                                        {{ company.name }}
                                                    </a>
                                                </td>

                                                <td>
                                                    <a style="color: white;text-decoration: none;" href="http://localhost:8000/check/?company={{ company.id }}">
                                                        {{ company.sector }}
                                                    </a>
                                                </td>
                                                <td>
                                                    <a style="color: white;text-decoration: none;" href="http://localhost:8000/check/?company={{ company.id }}">
                                                        {{ company.creating_date }}
                                                    </a>
                                                </td>


                                            </tr>

                                        {% endfor %}

                                </tbody>
                          </table>
                    </div>
                    <!-- /.col -->
                  </div>
                  <!-- /.row -->

        </div><!-- /.row -->
        </div>
        </div>


{% endblock %}