{% extends 'base.html' %}
{% load static %}
{% block title %} Mettre à jour - {{ company.name }} {% endblock %}

{% block left-bar-company %}
    <div class="row ml-2 dropdown">
    <a style="color: white;text-decoration: none;" href="http://localhost:8000/check/?company={{ data.id }}">
        <h5>
            {{ data.name }}
        </h5>
    </a>

    </div>
    <div class="row ml-2 mt-1 pt-1 dropdown">
        <img class="ml-1" src="{% static 'images/illustrations/invoice.png' %}" alt="company" style="width: 25px;height: 25px">
        <a style="text-decoration: none;color: white" href="http://localhost:8000/check/?invoices={{ data.id }}">
            <h3 class="mt-1 ml-2" style="font-size: 19px">
                Mes Factures
            </h3>
        </a>
    </div>
    <div class="row ml-2 mt-1 pt-1 dropdown">
        <img class="ml-1" src="{% static 'images/illustrations/clients.png' %}" alt="company" style="width: 25px;height: 25px">
        <a style="text-decoration: none;color: white" href="http://localhost:8000/check/?clients={{ data.id }}">
            <h3 class="mt-1 ml-2" style="font-size: 19px">
                Mes Clients
            </h3>
        </a>
    </div>
    <div class="row ml-2 mt-1 pt-1 dropdown">
        <img class="ml-1" src="{% static 'images/illustrations/writing.png' %}" alt="company" style="width: 25px;height: 25px">
        <a style="text-decoration: none;color: white" href="http://localhost:8000/create/invoice?company={{ data.id }}">
            <h3 class="mt-1 ml-2" style="font-size: 19px">
                Elaborer
            </h3>
        </a>
    </div>
    <div class="row ml-2 mt-1 pt-1 dropdown">
        <img class="ml-1" src="{% static 'images/illustrations/update.png' %}" alt="company" style="width: 25px;height: 25px">
        <a style="text-decoration: none;color: white" href="http://localhost:8000/company/?update={{ data.id}}">
            <h3 class="mt-1 ml-2" style="font-size: 19px">
                Update
            </h3>
        </a>
    </div>
    <div class="row ml-2 mt-1 pt-1 dropdown">
        <img class="ml-1" src="{% static 'images/illustrations/bin.png' %}" alt="company" style="width: 25px;height: 25px">
        <a style="text-decoration: none;color: white" href="http://localhost:8000/remove/?company={{ data.id}}">
            <h3 class="mt-1 ml-2" style="font-size: 19px">
                Suprrimer
            </h3>
        </a>
    </div>
{% endblock %}



{% block content %}
<div class="col-10 justify-content-center " >
    <p style="color:red"> {{ error_msg }} </p>
    <form method="POST" action="{% url 'my_company' %}">
        {% csrf_token %}

        <input type="number" value="{{ company.id }}" name="id" hidden>

        <label for="first_name">
            Nom :
        </label>
            <input type="text" name="name" value="{{ company.name }}">
        <br>
        <label for="status">
            Status juridique :
        </label>
            <input type="text" name="status" value="{{ company.status }}">
        <br>
        <label for="number">
            numéro SIRET ou SIREN et code NAF :
        </label>
            <input type="text" name="number" value="{{ company.number }}">
        <br>
        <label for="creating_date">
            Date de création :
        </label>
            <input type="text" name="creating_date" value="{{ company.creating_date }}">
        <br>
        <label for="sector">
            Secteur :
        </label>
            <input type="text" name="sector" value="{{ company.sector }}">
        <br>
        <label for="address">
            Addresse :
        </label>
            <input type="text" name="address" value="{{ company.address }}">
        <br>
        <label for="mail">
            Email :
        </label>
            <input type="email" name="mail" value="{{ company.mail }}">
        <br>
        <label for="tel">
            Date de création :
        </label>
            <input type="text" name="tel" value="{{ company.tel }}">
        <br>
        <label for="website">
            Site web :
        </label>
            <input type="text" name="website" value="{{ company.website }}">
        <br>
        <label for="salary_number">
            Nombre de salariés :
        </label>
            <input type="number" name="salary_number" value="{{ company.salary_number }}">
        <br>

        <input type="submit" value="Mettre à jour">
    </form>
</div>

{% endblock %}