{% extends 'base.html' %}

{% block title %} My company {% endblock %}

{% block content %}


<div class="col-10">
    <div class="row mt-4 justify-content-center">
        <h3>
            Mes compagnies
        </h3>
    </div>


    <div class="row mt-4 bg-secondary">
        <div class="col-1">
            Id
        </div>
        <div class="col-6">
            Nom
        </div>

        <div class="col-3">
            Secteur
        </div>
        <div class="col-2">
            Création
        </div>
    </div>
        {% for company in companies %}
            <a href="http://localhost:8000/check/?company={{ company.id }}">
                <div class="row">
                    <div class="col-1">
                        {{ company.id }}
                    </div>
                    <div class="col-6">
                        {{ company.name }}
                    </div>

                    <div class="col-3">
                        {{ company.sector }}
                    </div>
                    <div class="col-2">
                        {{ company.creating_date }}
                    </div>
                    </div>
            </a>
            {% endfor %}


</div>

{% endblock %}