{% extends 'base.html' %}
{% load static %}
{% block title %} Mettre à jour - {{ first_name }} {% endblock %}

{% block content %}
<div class="col-10 justify-content-center " >
        <div style="border:none;box-shadow:1px 1px 3px" class="mt-3">
            <div class="row justify-content-center">
                <img src="{% static 'images/profile.png' %}" class="rounded-circle mt-5" style="width:150px;height:150px">

            </div>

            <div class="row mt-3 justify-content-center">
                <p style="color:red"> {{ error_msg }} </p>
    <form method="POST" action="{% url 'profile' %}">
        {% csrf_token %}
        <label for="first_name">
            Nom :
        </label>
            <input type="text" name="first_name" value="{{ first_name }}">
        <br>
        <label for="last_name">
            Prénom :
        </label>
            <input type="text" name="last_name" value="{{ last_name }}">
        <br>
        <label for="company">
            Companie :
        </label>
            <input type="text" name="company" value="{{ user_company }}">
        <br>

        <label for="function">
            Fonction :
        </label>
            <input type="text" name="function" value="{{ user_function }}">
        <br>

        <label for="address">
            Addresse :
        </label>
            <input type="text" name="address" value="{{ user_address }}">
        <br>

        <label for="tel">
            Tel :
        </label>
            <input type="number" name="tel" value="{{ user_tel }}">
        <br>

        <label for="mail">
            Email :
        </label>
            <input type="email" name="mail" value="{{ user_mail }}">
        <br>
        <br>
        <br>

        <input type="submit" value="Ok" class="btn-primary mb-4 ml-5" style="width:100px">
    </form>

            </div>
        </div>
    </div>

{% endblock %}