{% extends 'base.html' %}
{% load static %}
{% block title %} {{ first_name }} {{ last_name}} {% endblock %}

{% block content %}
    <div class="col-12 justify-content-center " >
        <div style="border:none;color:white" class="mt-5">
            <div class="row mt-5 justify-content-center">
                <h3>
                    Mon Profile
                </h3>
            </div>
            <div class="row mt-5 pb-5 " style="box-shadow: #ffe8a1 1px 1px 5px">
                <div class="col-8 mt-5">
                    <div class="row mt-5 ml-3">
                        <div class="col-2">
                            <p>
                            <b> COMPAGNIE</b> <br>
                            <b> FONCTION</b> <br>
                            <b> ADDRESSE</b>  <br>
                            <b> TEL</b> <br>
                            <b> EMAIL</b>  <br>
                        </p>
                        </div>
                        <div class="col-1">
                            <p>
                                : <br>
                            : <br>
                            : <br>
                            : <br>
                            : <br>
                        </p>
                        </div>
                        <div class="col-7">
                            <p>
                                 {{ user_company }} <br>
                                {{ user_function }} <br>
                                 {{ user_address }} <br>
                                {{ user_tel }} <br>
                                {{ user_mail }} <br>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row mt-3">
                        <h3>
                            {{ first_name }} {{ last_name }}
                        </h3>
                    </div>
                    <div class="row">
                        <img src="{% static 'media/images/user/' %}{{ user_picture}}" class="rounded-circle mt-5" style="width:150px;height:150px">
                    </div>
                </div>
            </div>
            <div class="row mt-5 justify-content-center">
                <a href="http://localhost:8000/profile/?update={{ session_id }}">
                    <input type="button" class="btn btn-primary" value="Mettre à jour">
                </a>
            </div>
        </div>
    </div>
{% endblock %}