{% extends 'base.html' %}
{% load static %}
{% block title %} Mettre à jour - {{ first_name }} {% endblock %}

{% block content %}

    <div class="col-12 justify-content-center " >
        <form method="POST" action="{% url 'profile' %}">
            {% csrf_token %}
            <div style="border:none;color:white" class="mt-5">
                <div class="row mt-5 justify-content-center">
                    <h3>
                        Mise à jour de profile
                    </h3>
                    <p style="color:red"> {{ error_msg }} </p>
                </div>
                <div class="row mt-5 pb-5 " style="box-shadow: #ffe8a1 1px 1px 5px">
                    <div class="col-8 mt-5">
                        <div class="row mt-5 ml-3">
                            <div class="col-2">
                                <p>
                                <b> NOM</b> <br>
                                <b> PRENOM</b> <br>
                                <b> COMPAGNIE</b> <br>
                                <b> FONCTION</b> <br>
                                <b > ADDRESSE</b>  <br>
                                <b> TEL</b> <br>
                                <b> EMAIL</b>  <br>
                            </p>
                            </div>
                            <div class="col-1">
                                <p>
                                    : <br>
                                    : <br>
                                    : <br>
                                    : <br>
                                    : <br>
                                    : <br>
                                    : <br>
                                </p>
                            </div>
                            <div class="col-7">
                                <p style="margin-top: -5%">
                                    <input style="background: none;border: none;border-bottom: 1px solid dimgray;color: white" type="text" name="first_name" value="{{ first_name }}"><br>
                                    <input type="text" name="last_name" value="{{ last_name }}" style="background: none;border: none;border-bottom: 1px solid dimgray;color: white"><br>
                                    <input type="text" name="company" value="{{ user_company }}" style="background: none;border: none;border-bottom: 1px solid dimgray;color: white"><br>
                                    <input type="text" name="function" value="{{ user_function }}" style="background: none;border: none;border-bottom: 1px solid dimgray;color: white"><br>
                                    <input type="text" name="address" value="{{ user_address }}" style="background: none;border: none;border-bottom: 1px solid dimgray;color: white"><br>
                                    <input type="number" name="tel" value="{{ user_tel }}" style="background: none;border: none;border-bottom: 1px solid dimgray;color: white"> <br>
                                    <input type="email" name="mail" value="{{ user_mail }}" style="background: none;border: none;border-bottom: 1px solid dimgray;color: white"><br>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row mt-5">
                            <img src="{% static 'media/images/user/' %}{{ user_picture}}" class="rounded-circle mt-5" style="width:150px;height:150px">
                        </div>
                    </div>
                </div>
                <div class="row mt-5 justify-content-center">
                    <a href="http://localhost:8000/profile/?update={{ session_id }}">
                        <input type="submit" value="Ok" class="btn-primary rounded mb-4 ml-5" style="width:100px">
                    </a>
                </div>
            </div>
        </form>
    </div>

{% endblock %}