#form_new_user{
    background-color: red;
}

a{
    text-decoration: none;
}
.invoice_value{
    border: 1px solid black;
    border-collapse : collapse;
}

.create_invoice_input{
    border:none;
    width:97%;
    height:20px;
}

#invoice_sheet{
    border-radius : 2%;
    width:800px;
    padding-top : 2%;
    margin: auto;
    background-color:white;
    color:black;
}

.invoice_item{
    background-color:gray;
    border:1px solid black;
}
