body{
    font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
@keyframes slideRight {
    0%{
        margin-left: -100%;
    }
    100%{
        margin-left: -1%;
    }
}
@keyframes scaleUp {
    0%{
        width: 0;
        margin-left: 50%;
    }
    100%{
        width: 100%;
        margin-left: 0;
    }
}
ul {
    list-style-type: none;
}
a{
    text-decoration: none;
}
.invoice_value{
    border: 1px solid black;
    border-collapse : collapse;
}

.bar-admin{
    height: 100vh;
}
.create_invoice_input{
    border:none;
    width:100%;
    height:100%;
}


.invoice_item{
    background-color:gray;
    border:1px solid black;
}



.tab:hover{
    border-bottom:1px solid blue;
}
.sous-tab{
    position:absolute;
    z-index: 1;
    width:40%;
    visibility: visible;
}


.scroll_img{
    transform: rotate(91deg);
    width:15px;
}

.content-tab{
    position:absolute;
    background-color:white;
    width:100%
}

.content-tab a li{
    height: 30px;
    margin-left:-27%;
}

.content-tab a li:hover{
    border-bottom: 1px solid gray;
    font-size: 20px;
    padding-top:10px;
    height:50px;
    background-color:rgba(0, 0, 0, 0.1);
}
.point{
    background-color: white;
    width:40px;
    height:40px;
    position:absolute;
    transform: rotate(45deg);
    border:1px solid black;
    margin-left: 50%;
}
#search_bar{
    background-color:rgba(200, 200, 200, 0.5);
    border:none;height:35px;
    width:71%;
    text-align:center;
}

.left-bar{
    font-size: 18px;
    color: white;
}

.company-list:hover{
    background-color: #212529;
}
.dropdown:hover{
    background-color: #212529;
}
.scaleUp{
    animation-name: scaleUp;
    animation-duration: 1s;
}
#form_new_user{
    background-color: red;
}

#invoice_sheet{
    border-radius : 2%;
    width:800px;
    padding-top : 2%;
    margin: auto;
    background-color:white;
    color:black;
}

#content-profile:hover #sous-tab-profile{
    background-color:red;
}
