{% extends 'base.html' %}

{% block title %} {{ data.name }} {% endblock %}

{% block content %}
<h1> COMPAGNIE : {{ data.name }} </h1>

<p>
    <b>status</b> : {{ data.status }} <br>
    <b>numéro SIRET ou SIREN et code NAF</b> : {{ data.number }} <br>
    <b>secteur</b> : {{ data.sector }} <br>
    <b>date de création</b> : {{ data.creating_date }} <br>
    <b>addresse</b> : {{ data.address}} <br>
    <b>Email</b> : {{ data.mail}} <br>
    <b>Tel</b> : {{ data.tel}} <br>
    <b>Site web</b> : {{ data.website}} <br>
    <b>nombre des employés</b> : {{ data.salary_number}} <br>
</br>

    <a href="http://localhost:8000/check/?invoice={{ data.id }}">
        <input type="button" value="Mes factures">
    </a>

    <a href="http://localhost:8000/check/?clients={{ data.id }}">
        <input type="button" value="Mes clients">
    </a>

    <a href="http://localhost:8000/create/invoice?company={{ data.id }}">
        <input type="button" value="Elaborer une facture">
    </a>

    <a href="http://localhost:8000/company/?update={{ data.id}}">
        <input type="button" value="Mettre à jour">
    </a>

    {% endblock %}