{% extends 'base.html' %}
{% load static %}
{% block title %} {{ company.name }} - Factures{% endblock %}



{% block left-bar-company %}
    <div class="row ml-2 dropdown">
    <a style="color: white;text-decoration: none;" href="http://localhost:8000/check/?company={{ data.id }}">
        <h5>
            {{ data.name }}
        </h5>
    </a>

    </div>
    <div class="row ml-2 mt-1 pt-1 dropdown">
        <img class="ml-1" src="{% static 'images/illustrations/invoice.png' %}" alt="company" style="width: 25px;height: 25px">
        <a style="text-decoration: none;color: white" href="http://localhost:8000/check/?invoices={{ data.id }}">
            <h3 class="mt-1 ml-2" style="font-size: 19px">
                Mes Factures
            </h3>
        </a>
    </div>
    <div class="row ml-2 mt-1 pt-1 dropdown">
        <img class="ml-1" src="{% static 'images/illustrations/clients.png' %}" alt="company" style="width: 25px;height: 25px">
        <a style="text-decoration: none;color: white" href="http://localhost:8000/check/?clients={{ data.id }}">
            <h3 class="mt-1 ml-2" style="font-size: 19px">
                Mes Clients
            </h3>
        </a>
    </div>
    <div class="row ml-2 mt-1 pt-1 dropdown">
        <img class="ml-1" src="{% static 'images/illustrations/writing.png' %}" alt="company" style="width: 25px;height: 25px">
        <a style="text-decoration: none;color: white" href="http://localhost:8000/create/invoice?company={{ data.id }}">
            <h3 class="mt-1 ml-2" style="font-size: 19px">
                Elaborer
            </h3>
        </a>
    </div>
    <div class="row ml-2 mt-1 pt-1 dropdown">
        <img class="ml-1" src="{% static 'images/illustrations/update.png' %}" alt="company" style="width: 25px;height: 25px">
        <a style="text-decoration: none;color: white" href="http://localhost:8000/company/?update={{ data.id}}">
            <h3 class="mt-1 ml-2" style="font-size: 19px">
                Update
            </h3>
        </a>
    </div>
    <div class="row ml-2 mt-1 pt-1 dropdown">
        <img class="ml-1" src="{% static 'images/illustrations/bin.png' %}" alt="company" style="width: 25px;height: 25px">
        <a style="text-decoration: none;color: white" href="http://localhost:8000/remove/?company={{ data.id}}">
            <h3 class="mt-1 ml-2" style="font-size: 19px">
                Suprrimer
            </h3>
        </a>
    </div>
{% endblock %}


{% block content %}
{% if size == 0 %}
 <div class="col-10">
     <div class="row mt-5 justify-content-center">
        <h3 style="text-align: center;color: white;margin-top: 15%">
            Vous n'avez pas encore de factures
        </h3>
     </div>
     <div class="row mt-5 justify-content-center">
        <a style="text-decoration: none;color: white" href="http://localhost:8000/create/invoice?company={{ data.id }}">
            <button type="button" class="btn mt-1 ml-2">
                Elaborer une Facture
            </button>
        </a>
     </div>
     <div class="row mt-5 justify-content-center">
        <img class="ml-1" src="{% static 'images/illustrations/writing.png' %}" alt="company" style="width: 50px;height: 50px">
     </div>
 </div>
{% else %}
    <div class="col-10">
        <div class="row mt-4 justify-content-center">
            <h3>
                {{ company.name }}
            </h3>
        </div>


        <div class="row mt-4 bg-secondary">
            <div class="col-6">
                Destinataire
            </div>
            <div class="col-4">
                Numéro
            </div>
            <div class="col-2">
                Création
            </div>
        </div>
            {% for invoice in invoices %}
                <a href="http://localhost:8000/check/?invoice={{ invoice.id }}">
                    <div class="row">
                        <div class="col-6">
                            {{ invoice.destination }}
                        </div>

                        <div class="col-3">
                            {{ invoice.number }}
                        </div>
                        <div class="col-2">
                            {{ company.date }}
                        </div>
                    </div>
                </a>
                {% endfor %}
    </div>
{% endif %}
{% endblock %}