{% extends 'base.html' %}
{% load static %}
{% block title %} {{ company.name }} - Factures{% endblock %}


{% block left-bar-company %}
    <div class="row ml-2 dropdown">
    <a style="color: white;text-decoration: none;" href="http://localhost:8000/check/?company={{ data.id }}">
        <h5>
            {{ data.name }}
        </h5>
    </a>

    </div>
    <div class="row ml-2 mt-1 pt-1 dropdown">
        <img class="ml-1" src="{% static 'images/illustrations/invoice.png' %}" alt="company" style="width: 25px;height: 25px">
        <a style="text-decoration: none;color: white" href="http://localhost:8000/check/?invoices={{ data.id }}">
            <h3 class="mt-1 ml-2" style="font-size: 19px">
                Mes Factures
            </h3>
        </a>
    </div>
    <div class="row ml-2 mt-1 pt-1 dropdown">
        <img class="ml-1" src="{% static 'images/illustrations/clients.png' %}" alt="company" style="width: 25px;height: 25px">
        <a style="text-decoration: none;color: white" href="http://localhost:8000/check/?clients={{ data.id }}">
            <h3 class="mt-1 ml-2" style="font-size: 19px">
                Mes Clients
            </h3>
        </a>
    </div>
    <div class="row ml-2 mt-1 pt-1 dropdown">
        <img class="ml-1" src="{% static 'images/illustrations/writing.png' %}" alt="company" style="width: 25px;height: 25px">
        <a style="text-decoration: none;color: white" href="http://localhost:8000/create/invoice?company={{ data.id }}">
            <h3 class="mt-1 ml-2" style="font-size: 19px">
                Elaborer
            </h3>
        </a>
    </div>
    <div class="row ml-2 mt-1 pt-1 dropdown">
        <img class="ml-1" src="{% static 'images/illustrations/update.png' %}" alt="company" style="width: 25px;height: 25px">
        <a style="text-decoration: none;color: white" href="http://localhost:8000/company/?update={{ data.id}}">
            <h3 class="mt-1 ml-2" style="font-size: 19px">
                Update
            </h3>
        </a>
    </div>
    <div class="row ml-2 mt-1 pt-1 dropdown">
        <img class="ml-1" src="{% static 'images/illustrations/bin.png' %}" alt="company" style="width: 25px;height: 25px">
        <a style="text-decoration: none;color: white" href="http://localhost:8000/remove/?company={{ data.id}}">
            <h3 class="mt-1 ml-2" style="font-size: 19px">
                Suprrimer
            </h3>
        </a>
    </div>
{% endblock %}


{% block content %}
<div class="row justify-content-center">
<div class="col-11" >
    <div class="row mt-4 justify-content-center">
        <h1>
            Facture de {{ invoice.destination }}
        </h1>
    </div>
    <table id="invoice_sheet" class="rounded">
        <div class="row" >
            {% comment%} HEAD {% endcomment %}
            <tr>
                <td class="pl-3 pt-2">
                    <h3>
                        {{ company.name }}
                    </h3>
                    <p>
                        {{ company.number }}
                        <br>
                        {{ company.address }}
                        <br>
                        {{ company.mail }}
                        <br>
                        {{ company.tel }}

                    </p>
                </td>
                <td>
                </td>

                <td>
                    <p>
                        à : {{ invoice.destination }}
                    </p>
                    <p>
                           Date : {{ invoice.date }}
                        <br>
                        Facture n° : {{ invoice.number }}
                    </p>
                    <br>

                </td>
            </tr>
            <tr>
            </tr>

            {% comment%} ITEMS {% endcomment %}
            <tr >
                <td class="invoice_item" >
                    Objets
                </td>
                <td class="invoice_item">
                    Quantités
                </td>
                <td class="invoice_item">
                    Prix Unitaire
                </td>
                <td class="invoice_item">
                    Total
                </td>
            </tr>


            {% comment%} VALUES {% endcomment %}
            {% for item in items_value %}
                <tr>
                    {% for value in item %}

                    <td class="invoice_value">
                        {{ value }}
                    </td>

                    {% endfor %}
                </tr>
            {% endfor %}



            {% comment%} FOOT {% endcomment %}
            <tr>
            <td></td>
            </tr>
            <tr>
                <td colspan="2">
                </td>
                <td>
                    <b>Sous Total</b>
                </td>
                <td>
                    {{ invoice_total }} {{ invoice.unity }}
                </td>
            </tr>
            <tr>

                <td colspan="2">
                </td>
                <td>
                    <b>Tax</b>
                </td>
                <td>
                    {{ invoice.tax }}%
                </td>

            </tr>

            <tr>

                <td colspan="2">
                </td>
                <td>
                    <b>Total</b>
                </td>
                <td>
                    {{ total }} {{ invoice.unity }}
                </td>

            </tr>

            <tr>
                <td>
                    .
                </td>
            </tr>

            </div>
         </table>
    <div class="row mt-5 justify-content-center">
        <a href="http://localhost:8000/export/?invoice={{ invoice.id }}">
            <input type="button" value="Exporter PDF" class="btn btn-success rounded" style="width:150px">
        </a>
    </div>
</div>
</div>


{% endblock %}