<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <title>
            {% block title %}
                hi crm
            {% endblock %}

        </title>

        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

    <body>
        <header>
            <ul>
                <li>
                    <h4>
                        <a href="{% url 'profile' %}">
                            Me
                        </a>
                    </h4>
                </li>
                <li>
                    <h4>
                        <a href="{% url 'my_company' %}">
                            My Company
                        </a>
                    </h4>

            </ul>
        </header>
        {% block content %}
        {% endblock %}
    </body>
</html>